@import url('https://fonts.googleapis.com/css?family=Alegreya|Almendra');
$theme-path: "/assets/images/splittermond-tickleiste-theme/";

.background {
  width: 100vw;
  height: 100vh;
  background-image: url($theme-path+"background.jpg");
  background-color: #bbdff2;
  background-blend-mode: lighten;
  display: flex;
  position: relative;

  &:after {
    z-index: 1;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    mix-blend-mode: color-burn;
    box-shadow: inset 0 0 100px 80px rgba(50, 75, 150, 0.9),inset 0 0 100px 100px rgba(105, 193, 227, 1);
  }
}
@media (min-width: 768px) {
  .container--theme {
    padding: 50px 15px;
    border-style: solid;
    border-width: 50px;
    border-image: url($theme-path+"border.png") 150 round;
  }
}

.container--theme {
  overflow: auto;
  z-index: 2;
  flex: 1;
  background: transparent;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Alegreya', serif;

  h1 {
    font-family: 'Almendra', serif;
    color: #25408f;
    text-align: center;
  }
}

body,
html {
  margin: 0;
  height: 100%;
}
@import "ember-bootstrap/bootstrap";

.input-group {
  &--2-button {
    .form-control {
      width: 50%;
    }
  }

  &-btn {
    .btn {
      height: 34px;
    }
  }
}

.tickleiste-pc {
  &__participant {
    display: flex;
    flex-direction: row;
    padding: 0;

    &:not(&--wait):first-child {
      height: 100px;
      margin-bottom: 30px;
    }

    &:not(&--wait):first-child &-portrait,
    &:not(&--wait):first-child &-tick {
      height: 100px;
      width: 100px;
      font-size: 46px;
    }

    &:not(&--wait):first-child &-name {
      height: 100px;
      font-size: 28px;
      padding: 10px;
    }

    &:not(&--wait):first-child &-statuses {
      height: 100px;
      font-size: 24px;
      max-width: 280px;
    }

    &-portrait,
    &-tick {
      height: 65px;
      width: 65px;
      font-family: 'Almendra', serif;
      color: #25408f;
      font-size: 20px;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #ddd;
    }

    &-name {
      height: 65px;
      flex: 1;
      font-family: 'Almendra', serif;
      color: #25408f;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: start;
      border-right: 1px solid #ddd;
      padding: 10px;
    }

    &-statuses {
      height: 65px;
      max-width: 220px;
      box-sizing: border-box;
      flex: auto;
      font-size: 12px;
      display: flex;
      align-items: start;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 5px;
    }

    &-status {
      margin: 5px;
      flex-shrink: 1;

      &--lvl {
        font-size: 0.75em;
        vertical-align: sub;
      }
    }
  }
}
